html,
body {
	background: #eaeaea;
	margin: 0;
	padding: 0;
	font-family: 'ff-tisa-sans-web-pro', serif;
}

a {
	color: #6c307d;
}

.hidden {
	transition: all 333ms ease;
	opacity: 0;
	padding-top: 40px;
}

.shown {
	transition: all 333ms ease;
	opacity: 1;
	padding-top: 0px;
}

.container {
	width: 640px;
	margin: 120px auto;
}

header {
	padding-top: 50px;
	border-bottom: 4px solid black;
	display: flex;
	align-items: baseline;
}

h1 {
	margin: 0;
}

nav {
	flex-grow: 1;
	text-align: right;
}

input {
	font-family: 'ff-tisa-sans-web-pro', serif;
	border: none;
	border-bottom: 2px solid #6c307d;
	width: 100%;
	font-size: 40px;
	background: transparent;
	margin-bottom: 50px;
}

input::placeholder {
	color: #ccc;
}

input:focus {
	outline: 0;
}

#help {
	line-height: 25px;
	font-family: 'Hoefler Text', Georgia, serif;
	color: #666;
	font-size: 18px;
	margin-top: 40px;
}

#noresults {
	text-align: center;
	line-height: 25px;
	font-family: 'Hoefler Text', Georgia, serif;
	color: #ccc;
	font-size: 18px;
	margin-top: 60px;
}

#noresults h2 {
	color: #aaa;
}

.question,
.ans,
h2 {
	margin-bottom: 0;
}

.question:first-child {
	font-size: 24px;
}

.question {
	font-size: 19px;
	font-weight: 600;
}

#results .ans:nth-child(2) {
	font-size: 16px;
}

.ans {
	font-size: 14px;
	margin-top: -10px;
	margin-bottom: 60px;
}

.question p {
	margin: 0 auto;
}

.ans mark {
	background: #6c307d;
	color: white;
	padding: 0 0.3rem;
	display: inline-block;
	margin: 0 0.3rem;
	border-radius: 2px;
}

.question mark {
	background: transparent;
	text-decoration: underline;
	text-decoration-color: #6c307d;
}

@media screen {
	.navbar {
		border-top: 4px solid #6c307d;
		box-sizing: border-box;
		height: 64px;
		background-color: #222;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
		display: flex;
		justify-content: space-between;
	}

	.navbar-header {
		font-weight: bold;
		font-size: 30px;
	}

	.navbar-header a img {
		height: 44px;
		vertical-align: -5px;
	}

	.navbar a {
		color: #fff;
		line-height: 60px;
		margin-left: 0;
		text-decoration: none;
	}

	.navbar a.navbar-brand {
		margin-left: 20px;
	}

	.navbar-right {
		margin: 0;
		line-height: 50px;
		list-style: none;
	}

	.navbar-right li {
		float: left;
		margin-right: 20px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-left: 20px;
		font-size: 14px;
	}
}
